
<template>
  <require from = "./modal-header.html"></require>
  <h1>${name}</h1>

  <form submit.trigger="addTodo()">
    <input type="text" value.bind="description">
    <button type="submit">Add todo</button>
  </form>

  <ul>
    <li repeat.for="todo of todos">
      <input type="checkbox" checked.bind="todo.checked">
      <span css="text-decoration: ${todo.checked ? 'line-through' : 'none'}">${todo.message}</span>
      <button click.trigger="removeTodo(todo)">Remove todo</button>
    </li>
  </ul>

  <a href.bind="url">Aurelia</a>
    <modal-header></modal-header>

</template>
